/* COLORS */
$blue: #3442b5;
$yellow: #f7ca11;
$purple: #271c47;
$grey: #9f9f9f;
$grey-dark: #3f3f40;
$white: #ffffff;

/* FONTS */
$font-primary: "Poppins", Arial, sans-serif;

/* BREAKPOINTS */
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;
